mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/npm-debug.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile*.key
mobile/*.mobileprovision
mobile/*.orig.*
mobile/web-build/

# macOS
mobile/.DS_Store

# Temporary files created by Metro to check the health of the file watcher
mobile/.metro-health-check*

server/tmp/
server/log/

server/.DS_Store
server/app.yaml
server/.env.development.local
.DS_Store